[package]
name = "omni-relayer"
version = "0.4.5"
edition = "2024"
resolver = "2"
repository = "https://github.com/Near-One/omni-bridge"

[dependencies]
tracing = "0.1"
tracing-log = "0.2"
tracing-subscriber = { version = "0.3", features = ["env-filter", "fmt", "chrono"] }
tracing-loki = "0.2"

chrono = "0.4"

anyhow = "1"
futures = "0.3.5"

clap = { version = "4.5", features = ["derive"] }
dotenv = "0.15"
toml = "0.9.8"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
borsh = "1.5.1"
rust_decimal = { version = "1.37.2", features = ["maths"] }

rustls = { version = "0.23.23", default-features = false }
tokio = { version = "1", features = ["sync", "time", "macros", "rt-multi-thread"] }
tokio-stream = { version = "0.1" }

solana-sdk = "2.1.9"
solana-client = "2.1.9"
solana-transaction-status = "2.1.9"
solana-rpc-client-api = "2.1.9"

ethereum-types = "0.14.1"
omni-types = { git = "https://github.com/near-one/omni-bridge", package = "omni-types", rev = "f5e8edfeb41b2dba358ef4f3fb53f111dbbfb92e" }
bridge-indexer-types = { git = "ssh://git@github.com/near-one/bridge-indexer-rs.git", package = "bridge-indexer-types", rev = "ea361467b5ccaf0654c096c2c09729b38fcf37f8" }

near-lake-framework = "0.7.12"
near-jsonrpc-client = "0.16.0"
near-jsonrpc-primitives = "0.29.1"
near-primitives = "0.29.1"
near-crypto = "0.29.0"
near-sdk = { version = "5.17.2", features = ["unit-testing"] }

hex = "0.4.3"
alloy = { version = "1.0.38", features = ["node-bindings", "providers", "rpc-types", "sol-types", "provider-ws", "signers", "signer-local"] }

mongodb = "3.2.2"
redis = { version = "0.32.5", features = ["aio", "tokio-comp", "connection-manager", "json"] }
reqwest = "0.12"

bridge-connector-common = { git = "https://github.com/Near-One/bridge-sdk-rs", package = "bridge-connector-common", rev = "f911d6ffe9b36f632da0f05306a1f1fab64865cc" }
near-rpc-client = { git = "https://github.com/Near-One/bridge-sdk-rs", package = "near-rpc-client", rev = "f911d6ffe9b36f632da0f05306a1f1fab64865cc" }

near-bridge-client = { git = "https://github.com/Near-One/bridge-sdk-rs", package = "near-bridge-client", rev = "f911d6ffe9b36f632da0f05306a1f1fab64865cc" }
evm-bridge-client = { git = "https://github.com/Near-One/bridge-sdk-rs", package = "evm-bridge-client", rev = "f911d6ffe9b36f632da0f05306a1f1fab64865cc" }
solana-bridge-client = { git = "https://github.com/Near-One/bridge-sdk-rs", package = "solana-bridge-client", rev = "f911d6ffe9b36f632da0f05306a1f1fab64865cc" }
utxo-bridge-client = { git = "https://github.com/Near-One/bridge-sdk-rs", package = "utxo-bridge-client", rev = "f911d6ffe9b36f632da0f05306a1f1fab64865cc" }
utxo-utils = { git = "https://github.com/Near-One/bridge-sdk-rs", package = "utxo-utils", rev = "f911d6ffe9b36f632da0f05306a1f1fab64865cc" }
wormhole-bridge-client = { git = "https://github.com/Near-One/bridge-sdk-rs", package = "wormhole-bridge-client", rev = "f911d6ffe9b36f632da0f05306a1f1fab64865cc" }
light-client = { git = "https://github.com/Near-One/bridge-sdk-rs", package = "light-client", rev = "f911d6ffe9b36f632da0f05306a1f1fab64865cc" }

omni-connector = { git = "https://github.com/Near-One/bridge-sdk-rs", package = "omni-connector", rev = "f911d6ffe9b36f632da0f05306a1f1fab64865cc" }

# The profile that 'dist' will build with
[profile.dist]
inherits = "release"
lto = "thin"
