[redis]
url = "redis://127.0.0.1/"
sleep_time_after_events_process_secs = 1
query_retry_attempts = 10
query_retry_sleep_secs = 1
query_timeout_secs = 5
fee_retry_base_secs = 1.2
fee_retry_max_sleep_secs = 3600 # 60 * 60
keep_transfers_for_secs = 604800 # 60 * 60 * 24 * 7

[nats]
url = "nats://nats-testnet.nats-testnet.svc.cluster.local:4222"
relayer_subject = "relayer.tasks"

[nats.omni_consumer]
name = "omni-relayer"
stream = "OMNI_EVENTS"
subject = "omni-events.>"
max_deliver = 4
backoff_secs = [5, 30, 120]

[bridge_indexer]
# Used to check if provided fee is sufficient to complete the transfer
api_url = "https://testnet.api.bridge.nearone.org/"

mongodb_uri = "mongodb+srv://MONGODB_USERNAME:MONGODB_PASSWORD@MONGODB_HOST/?retryWrites=true&w=majority"
db_name = "testnet_omni_bridge_db"

# Discount that relayer can accept [default: 0]
# fee_discount = 30

[near]
network = "testnet"
rpc_url = "https://rpc.testnet.fastnear.com?apiKey=FASTNEAR_API_KEY"
omni_bridge_id = "omni.n-bridge.testnet"
btc_connector = "btc-connector.n-bridge.testnet"
btc = "nbtc.n-bridge.testnet"
zcash_connector = "zcash_connector.n-bridge.testnet"
zcash = "nzcash.n-bridge.testnet"
# Either provide a path to a credentials file or set it in the environment
# Note: the path must be absolute
# omni_credentials_path = "/Users/username/.near-credentials/testnet/omni-relayer.testnet.json"
# fast_credentials_path = "/Users/username/.near-credentials/testnet/fast-relayer.testnet.json"
# We won't check fee before signing transfer if account id matches on in array
sign_without_checking_fee = ["near:aurora"]
# To enable fast relayer, uncomment the line below
# fast_relayer_enabled = true

[eth]
rpc_http_url = "https://sepolia.infura.io/v3/INFURA_API_KEY"
rpc_ws_url = "wss://sepolia.infura.io/ws/v3/INFURA_API_KEY"
omni_bridge_address = "0x68a86e0Ea5B1d39F385c1326e4d493526dFe4401"
light_client = "client-eth2.sepolia.testnet"
block_processing_batch_size = 10_000
# https://wormhole.com/docs/build/reference/consistency-levels/
expected_finalization_time = 1095
safe_confirmations = 12
error_selectors_to_remove = [
	"0x8baa579f", # InvalidSignature()
	"0xdcf35db0", # FailedToSendEther()
]

[base]
rpc_http_url = "https://base-sepolia.infura.io/v3/INFURA_API_KEY"
rpc_ws_url = "wss://base-sepolia.infura.io/ws/v3/INFURA_API_KEY"
omni_bridge_address = "0xa56b860017152cD296ad723E8409Abd6e5D86d4d"
wormhole_address = "0x79A1027a6A159502049F10906D333EC57E95F083"
block_processing_batch_size = 10_000
# https://wormhole.com/docs/build/reference/consistency-levels/
expected_finalization_time = 1026
safe_confirmations = 30
error_selectors_to_remove = [
	"0x8baa579f", # InvalidSignature()
	"0xdcf35db0", # FailedToSendEther()
	"696e76616c696420666565" # Wormhole's "invalid fee"
]

[arb]
rpc_http_url = "https://arbitrum-sepolia.infura.io/v3/INFURA_API_KEY"
rpc_ws_url = "wss://arbitrum-sepolia.infura.io/ws/v3/INFURA_API_KEY"
omni_bridge_address = "0x0C981337fFe39a555d3A40dbb32f21aD0eF33FFA"
wormhole_address = "0x6b9C8671cdDC8dEab9c719bB87cBd3e782bA6a35"
block_processing_batch_size = 10_000
# https://wormhole.com/docs/build/reference/consistency-levels/
expected_finalization_time = 1066
safe_confirmations = 30
error_selectors_to_remove = [
	"0x8baa579f", # InvalidSignature()
	"0xdcf35db0", # FailedToSendEther()
	"696e76616c696420666565" # Wormhole's "invalid fee"
]

[bnb]
rpc_http_url = "https://bsc-testnet.infura.io/v3/INFURA_API_KEY"
rpc_ws_url = "wss://bsc-testnet-rpc.publicnode.com"
omni_bridge_address = "0xEC81aFc3485a425347Ac03316675e58a680b283A"
wormhole_address = "0x68605AD7b15c732a30b1BbC62BE8F2A509D74b4D"
block_processing_batch_size = 10_000
# https://wormhole.com/docs/build/reference/consistency-levels/
expected_finalization_time = 48
safe_confirmations = 10
error_selectors_to_remove = [
	"0x8baa579f", # InvalidSignature()
	"0xdcf35db0", # FailedToSendEther()
	"696e76616c696420666565" # Wormhole's "invalid fee"
]

[pol]
rpc_http_url = "https://polygon-amoy.infura.io/v3/INFURA_API_KEY"
rpc_ws_url = "wss://polygon-amoy.infura.io/ws/v3/INFURA_API_KEY"
omni_bridge_address = "0xEC81aFc3485a425347Ac03316675e58a680b283A"
wormhole_address = "0x6b9C8671cdDC8dEab9c719bB87cBd3e782bA6a35"
block_processing_batch_size = 10_000
# https://wormhole.com/docs/build/reference/consistency-levels/
expected_finalization_time = 6
safe_confirmations = 5
error_selectors_to_remove = [
	"0x8baa579f", # InvalidSignature()
	"0xdcf35db0", # FailedToSendEther()
	"696e76616c696420666565" # Wormhole's "invalid fee"
]

[solana]
rpc_http_url = "https://api.devnet.solana.com"
rpc_ws_url = "wss://api.devnet.solana.com"
# Program ID on Solana is an account ID whitch the bridge contract (basically bridge_token_factory_address on Solana)
program_id = "862HdJV59Vp83PbcubUnvuXc4EAXP8CDDs6LTxFpunTe"
# This is the wormhole contract ID on Solana (can be found here https://wormhole.com/docs/build/reference/contract-addresses/#__tabbed_1_2)
wormhole_id = "3u8hJUVTA4jH1wYAyUur7FFZVQ8H635K3tSHHF4ssjQ5"
wormhole_post_message_shim_id = "EtZMZM22ViKMo4r5y4Anovs3wKQ2owUmDpjygnMMcdEX"
wormhole_post_message_shim_event_authority = "HQS31aApX3DDkuXgSpV9XyDUNtFgQ31pUn5BNWHG2PSp"
deploy_token_emitter_index = 3
deploy_token_discriminator = [144, 104, 20, 192, 18, 112, 224, 140]
# There's a list of account keys and they are store in a strict order. We need indexes to get the right key
init_transfer_sender_index = 5
init_transfer_token_index = 1
init_transfer_emitter_index = 6
init_transfer_sol_sender_index = 1
init_transfer_sol_emitter_index = 2
# Discriminators are used to identify the type of the event (can be found during the building process of solana's contract)
init_transfer_discriminator = [174, 50, 134, 99, 122, 243, 243, 224]
init_transfer_sol_discriminator = [124, 167, 164, 191, 81, 140, 108, 30]
finalize_transfer_emitter_index = 6
finalize_transfer_sol_emitter_index = 5
finalize_transfer_discriminator = [124, 126, 103, 188, 144, 65, 135, 51]
finalize_transfer_sol_discriminator = [104, 27, 121, 69, 3, 70, 217, 66]
# Either provide a path to a keypair file or set it in the environment
# Note: the path must be absolute
# credentials_path = "/Users/username/my-solana-keypair.json"

[btc]
rpc_http_url = "https://bitcoin-testnet-rpc.publicnode.com"
light_client = "btc-client-v4.testnet"
# If this is set to true, then omni relayer will call `sign_btc_transaction`
signing_enabled = true
# If this is set to true, then omni relayer will call `verify_withdraw`
verifying_withdraw_enabled = true

[zcash]
rpc_http_url = "https://x-api-key:TATUM_API_KEY@zcash-testnet.gateway.tatum.io"
light_client = "zcash-client.n-bridge.testnet"
# If this is set to true, then omni relayer will call `sign_btc_transaction`
signing_enabled = true
# If this is set to true, then omni relayer will call `verify_withdraw`
verifying_withdraw_enabled = true

[orchard]
enabled = true

[wormhole]
api_url = "https://api.testnet.wormholescan.io/"
solana_chain_id = 1

[eth.fee_bumping]
min_pending_time_seconds = 240
min_since_last_bump_seconds = 60
check_interval_seconds = 5
min_fee_increase_percent = 15
# 30 gwei
max_fee_in_wei = 30_000_000_000
