evm_artifacts/
near_artifacts/
solana_artifacts/
evm_deploy_results/
near_deploy_results/
solana_deploy_results/
bridge-token-near-to-evm/

.near-build.stamp
.tools-compile.stamp
.evm-compile.stamp
.near-token-deployment-prepare.stamp
.solana-build.stamp
*dyn_init_args.json
bridge-sdk-config.json
bridge_token_factory-keypair.json


tools/build/
tools/cache/
tools/coverage/
tools/coverage.json
tools/.openzeppelin/
tools/node_modules/
tools/.env
tools/typechain-types/
tools/dist/
tools/node_modules/